@import url("https://fonts.googleapis.com/css2?family=Jaini&display=swap");

* {
  margin: 0px;
  /* padding: 0px; */
  box-sizing: border-box;
}
header {
  font-family: jaini, fantasy;
}
header > h1:hover {
  text-shadow: 3px 3px 5px aqua;
  font-size: 3rem;
}
section > article {
  text-shadow: 2px 2px 1px aqua;
  font-style: italic;
  font-size: 2rem;
  padding: 1rem;
  font-family: jaini, fantasy;
}
section > article:hover {
  font-size: 3rem;
  text-decoration-line: underline;
  text-decoration-color: rgb(238, 237, 241);
  text-decoration-style: dotted;
  line-height: 3rem;
}

nav {
  background-color: black;
}
ul{
    padding:1.5rem;
    margin:0;
    text-align: center;
}

li {
  display: inline;
  color: white;
}
li:hover {
  color: aqua;
  font-size: large;
  cursor: pointer;
}
